openapi: 3.0.3
info:
  title: AudiPro İşitme Merkezi Yönetimi API
  description: AudiPro platformu için backend API dokümantasyonu. Next.js App Router API rotalarını ve temel servis uç noktalarını içerir.
  version: 1.0.0
servers:
  - url: https://audipro.actsoftware.net
    description: Üretim (Production) Sunucusu
  - url: http://localhost:3000
    description: Yerel Geliştirme (Localhost)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase oturumundan elde edilen Bearer access token.
  schemas:
    InviteUserRequest:
      type: object
      required:
        - orgId
        - email
        - roles
        - password
        - firstName
        - lastName
        - phone
      properties:
        orgId:
          type: string
          format: uuid
          example: "1974b2f5-44fa-4dea-9648-b75f7024e319"
        branchId:
          type: string
          nullable: true
          example: "22222222-2222-4222-8222-222222222222"
        email:
          type: string
          format: email
          example: "personel@isitmemerkezi.com"
        password:
          type: string
          minLength: 8
          description: Zorunlu başlangıç şifresi.
          example: "AudiPro#Pass123!"
        firstName:
          type: string
          minLength: 1
          example: "Burak"
        lastName:
          type: string
          minLength: 1
          example: "Akın"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "05551234567"
        roles:
          type: array
          items:
            type: string
            enum:
              - Firma Yöneticisi
              - Şube Yöneticisi
              - Şube Müdürü
              - Odyolog
              - Odyometrist
              - Sekreter
              - Resepsiyon
              - Muhasebe
              - Stajyer
              - Teknik Servis
              - Satış Danışmanı
          example: ["Odyometrist"]
    InviteUserResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        id:
          type: string
          format: uuid
          example: "bb724554-0606-4b1b-a5cb-3144e7652b22"
        userId:
          type: string
          format: uuid
          example: "bb724554-0606-4b1b-a5cb-3144e7652b22"
        message:
          type: string
          example: "Kullanıcı daveti başarıyla oluşturuldu."
        user:
          type: object
          properties:
            id:
              type: string
            userId:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
            roles:
              type: array
              items:
                type: string
            branch:
              type: string
            status:
              type: string
              example: "Aktif"
    ChangePasswordRequest:
      type: object
      required:
        - newPassword
      properties:
        newPassword:
          type: string
          minLength: 8
          example: "YeniSifre#2026!"
        userId:
          type: string
          format: uuid
          example: "212a6a5a-6b0d-43b0-88f1-edcf09c620ec"
    SelectOrgRequest:
      type: object
      required:
        - orgId
      properties:
        orgId:
          type: string
          format: uuid
          example: "1974b2f5-44fa-4dea-9648-b75f7024e319"
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Geçersiz veri veya yetkisiz erişim."
        error:
          type: string
          example: "Geçersiz veri veya yetkisiz erişim."
paths:
  /api/invite-user:
    post:
      summary: Yeni Personel / Kullanıcı Davet Et
      description: Firma yöneticisi yetkisine sahip bir kullanıcı tarafından yeni bir kullanıcı hesabı ve organizasyon üyeliği tanımlar.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '200':
          description: Personel başarıyla davet edildi ve oluşturuldu.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUserResponse'
        '400':
          description: Doğrulama veya şube hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Yetkisiz erişim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Firma yöneticisi yetkisi gerekli
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: E-posta kullanımda veya çakışma var
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Sunucu hatası
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/change-password:
    post:
      summary: Kullanıcı Şifresini Değiştir
      description: Oturum açmış kullanıcının şifresini günceller.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '200':
          description: Şifre başarıyla güncellendi.
        '400':
          description: Geçersiz şifre
        '401':
          description: Yetkisiz istek
  /api/select-org:
    post:
      summary: Aktif Organizasyon Seç
      description: Kullanıcının aktif çalışacağı firmayı seçer ve JWT claims günceller.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectOrgRequest'
      responses:
        '200':
          description: Firma seçildi.
        '403':
          description: Yetkisiz
  /api/system-time:
    get:
      summary: Sistem Zamanını Al
      description: Sunucunun mevcut ISO UTC zamanını döner.
      responses:
        '200':
          description: Sunucu zamanı
